<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Home</title>
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<% if (currentUser) { %> <% if(currentUser.admin) { %>
		<nav>
			<div class="logo">
				<p>
					<a href="<%= `${mainPath}`%>"
						>Posting Club</a
					>
				</p>
			</div>
			<ul>
				<li class="link">
					<%= `${currentUser.first_name}
					${currentUser.last_name}`%>
				</li>
				<li>(admin)</li>
			</ul>
		</nav>
		<aside>
			<ul>
				<li>
					<a href="<%= `${mainPath}posts/create`%>"
						>Post a message</a
					>
				</li>
				<li><a href="">About</a></li>
				<li class="link">
					<a href="<%= `${currentPath}users/log-out`%>"
						>Log out</a
					>
				</li>
			</ul>
		</aside>
		<main>
			<header>
				<h1>Posts</h1>
			</header>
			<section>
				<% if (posts.length) {%> <%
				posts.forEach(function(post) {%>
				<div class="post">
					<div class="post-body">
						<h3><%= post.title%></h3>
						<p><%= post.message%></p>
					</div>
					<div class="post-detail">
						<p class="boldName">
							<%= post.user.first_name%>
						</p>
						<p class="boldName">
							<%= post.user.last_name%>
						</p>
						<p>on</p>
						<p><%= post.virtual_date%></p>
					</div>
					<div>
						<form class="post-options" method="post">
							<div>
								<input
									type="hidden"
									name="delete"
									value="<%= post._id%>"
									id="<%= post._id%>"
								/>
							</div>
							<button
								class="delete-btn"
								type="submit"
							>
								Delete
							</button>
						</form>
					</div>
				</div>
				<br />
				<%})%> <% }%>
			</section>
		</main>
		<footer>
			<p>&copy</p>
			<p>
				<a href="https://github.com/JosueDeLosSantos"
					>Josue De Los Santos</a
				>
				2024
			</p>
		</footer>
		<% } else if (currentUser.member) { %>
		<nav>
			<div class="logo">
				<p>
					<a href="<%= `${mainPath}`%>"
						>Posting Club</a
					>
				</p>
			</div>
			<ul>
				<li class="link">
					<%= `${currentUser.first_name}
					${currentUser.last_name}`%>
				</li>
			</ul>
		</nav>
		<aside>
			<ul>
				<li>
					<a href="<%= `${mainPath}posts/create`%>"
						>Post a message</a
					>
				</li>
				<li><a href="">About</a></li>
				<li class="link">
					<a href="<%= `${currentPath}users/log-out`%>"
						>Log out</a
					>
				</li>
			</ul>
		</aside>
		<main>
			<header>
				<h1>Posts</h1>
			</header>
			<section>
				<% if (posts.length) {%> <%
				posts.forEach(function(post) {%>
				<div class="post">
					<div class="post-body">
						<h3><%= post.title%></h3>
						<p><%= post.message%></p>
					</div>
					<div class="post-detail">
						<p class="boldName">
							<%= post.user.first_name%>
						</p>
						<p class="boldName">
							<%= post.user.last_name%>
						</p>
						<p>on</p>
						<p><%= post.virtual_date%></p>
					</div>
				</div>
				<br />
				<%})%> <% }%>
			</section>
		</main>
		<footer>
			<p>&copy</p>
			<p>
				<a href="https://github.com/JosueDeLosSantos"
					>Josue De Los Santos</a
				>
				2024
			</p>
		</footer>
		<% } else {%>

		<nav>
			<div class="logo">
				<p>
					<a href="<%= `${mainPath}`%>"
						>Posting Club</a
					>
				</p>
			</div>
			<ul>
				<li class="link">
					<%= `${currentUser.first_name}
					${currentUser.last_name}`%>
				</li>
			</ul>
		</nav>
		<aside>
			<ul>
				<li>
					<a href="<%= `${mainPath}posts/create`%>"
						>Post a message</a
					>
				</li>
				<li>
					<a
						href="<%= `${currentPath}users/become-member`%>"
						>Join the club</a
					>
				</li>
				<li><a href="">About</a></li>
				<li class="link">
					<a href="<%= `${currentPath}users/log-out`%>"
						>Log out</a
					>
				</li>
			</ul>
		</aside>
		<main>
			<header>
				<h1>Posts</h1>
			</header>
			<section>
				<% if (posts.length) {%> <%
				posts.forEach(function(post) {%>
				<div class="post">
					<div class="post-body">
						<h3><%= post.title%></h3>
						<p><%= post.message%></p>
					</div>
				</div>
				<br />
				<%})%> <% }%>
			</section>
		</main>
		<footer>
			<p>&copy</p>
			<p>
				<a href="https://github.com/JosueDeLosSantos"
					>Josue De Los Santos</a
				>
				2024
			</p>
		</footer>
		<% }%> <% } else { %>
		<nav>
			<div class="logo">
				<p>
					<a href="<%= `${mainPath}`%>"
						>Posting Club</a
					>
				</p>
			</div>
			<ul>
				<li class="log-in">
					<a href="<%= `${currentPath}users/log-in`%>"
						>Log in</a
					>
				</li>
				<li>or</li>
				<li class="sign up">
					<a href="<%= `${currentPath}users/sign-up`%>"
						>Sign up</a
					>
				</li>
			</ul>
		</nav>
		<aside>
			<ul>
				<li>
					<a
						href="<%= (currentPath !== undefined) ? `${currentPath}users/log-in` : '' %>"
						>Log in</a
					>
					to add commets
				</li>
				<li><a href="">About</a></li>
			</ul>
		</aside>
		<main>
			<header>
				<h1>Posts</h1>
			</header>
			<section>
				<% if (posts.length) {%> <%
				posts.forEach(function(post) {%>
				<div class="post">
					<div class="post-body">
						<h3><%= post.title%></h3>
						<p><%= post.message%></p>
					</div>
				</div>
				<br />
				<%})%> <% }%>
			</section>
		</main>
		<footer>
			<p>&copy</p>
			<p>
				<a href="https://github.com/JosueDeLosSantos"
					>Josue De Los Santos</a
				>
				2024
			</p>
		</footer>
		<% }%>
	</body>
</html>
