<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Home</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<% if (currentUser) { %> <% if(currentUser.admin) { %>
		<h1>I am logged and I am an admin.</h1>
		<% } else if (currentUser.member) { %>
		<h1>
			I am logged in, I am a member and I'm not an admin.
		</h1>
		<% } else {%>
		<h1>I am logged in but I am not a member.</h1>
		<br />
		<p>
			<a href="<%= `${mainPath}posts/create`%>"
				>Post something</a
			>
		</p>
		<% }%> <% } else { %>
		<nav>
			<div class="logo">
				<p>Posting Club</p>
			</div>
			<ul>
				<li class="log-in">
					<a href="<%= `${currentPath}users/log-in`%>"
						>Log in</a
					>
				</li>
				<li>or</li>
				<li class="sign up">
					<a href="<%= `${currentPath}users/sign-up`%>"
						>Sign up</a
					>
				</li>
			</ul>
		</nav>
		<aside>
			<ul>
				<li><a href="">About</a></li>
				<li>
					<a
						href="<%= (currentPath !== undefined) ? `${currentPath}users/log-in` : '' %>"
						>Log in</a
					>
					to add commets
				</li>
			</ul>
		</aside>
		<main>
			<header>
				<h1>Posts</h1>
			</header>
			<section>
				<% if (posts.length) {%> <%
				posts.forEach(function(post) {%>
				<div class="post">
					<h3><%= post.title%></h3>
					<p><%= post.message%></p>
					<hr />
					<p><%= post.virtual_date%></p>
				</div>
				<br />
				<%})%> <% }%>
			</section>
		</main>
		<footer>
			<p>&copy</p>
			<p>
				<a href="https://github.com/JosueDeLosSantos"
					>Josue De Los Santos</a
				>
				2024
			</p>
		</footer>
		<% }%>
	</body>
</html>
