<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="/style.css" />
		<title><%= title%></title>
	</head>
	<body>
		<nav>
			<div class="logo">
				<p>
					<a href="<%= `${mainPath}`%>"
						>Posting Club</a
					>
				</p>
			</div>
		</nav>
		<main class="login-form-main">
			<header>
				<h2><%= title%></h2>
			</header>
			<form class="login-form" method="post">
				<div class="type-text">
					<label for="first_name">First Name:</label>

					<input
						type="text"
						name="first_name"
						value="<%= (user === undefined) ? '': user.first_name %>"
					/>
				</div>

				<div class="type-text">
					<label for="last_name">Last Name:</label>

					<input
						type="text"
						name="last_name"
						value="<%= (user === undefined) ? '': user.last_name %>"
					/>
				</div>
				<div class="type-text">
					<label for="username">Username: </label>

					<input
						type="text"
						name="username"
						value="<%= (user === undefined) ? '': user.username %>"
					/>
				</div>
				<div class="type-text">
					<label for="password">Password:</label>

					<input
						type="password"
						name="password"
						value="<%= (user === undefined) ? '': user.password %>"
					/>
				</div>
				<div class="type-text">
					<label for="passwordConfirmation"
						>Confirm Password:</label
					>

					<input
						type="password"
						name="passwordConfirmation"
						value="<%= (passwordConfirmation === undefined) ? '': passwordConfirmation %>"
					/>
				</div>
				<div class="type-checkbox">
					<label for="admin">Is admin?</label>
					<% if(admin !== undefined) {%>

					<input
						type="checkbox"
						name="admin"
						checked
					/>

					<%} else {%>
					<input type="checkbox" name="admin" />
					<%}%>
				</div>
				<div>
					<button class="sign-up-btn" type="submit">
						Sign up
					</button>
				</div>
				<div>
					<% if (errors) { %>
					<ul>
						<%errors.forEach(function(error){%>
						<li class="error-msg"><%=error.msg%></li>
						<%});%>
					</ul>
					<% } %>
				</div>
			</form>
		</main>
		<footer>
			<p>&copy</p>
			<p>
				<a href="https://github.com/JosueDeLosSantos"
					>Josue De Los Santos</a
				>
				2024
			</p>
		</footer>
	</body>
</html>
